html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#new-pet {
    width: 20%;
    left: 40%;
    bottom: 3%;
    position: absolute;
}

#new-pet-modal {
    height: 375px;
}

.input-field label {
    color: #000;
}

.input-field input[type=text]:focus + label {
    color: #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

ul.dropdown-content.select-dropdown li span {
    color: #f44336;
}

#no-thumbnail {
    height: 200px;
    background-image: url('../img/thumbnail.svg');
    background-size: cover;
    background-position: center;
}

#photo-thumbnail {
    width: 100%;
}

#no-thumbnail:hover, #photo-thumbnail:hover {
    cursor: pointer;
    opacity: .7;
}

#pet-details-modal {
    height: 90%;
}

#pet-details-modal #animal-prints-icon {
    width: 36px;
    height: 36px;
}

#pet-details-modal #pet-photo {
    width: 100%;
}

.pet-icon {
    width: 25px;
    height: 25px;
    background-image: url('../img/cat.svg');
}

.pet-icon:hover {
    cursor: pointer;
    opacity: .7;
}
