<html ng-app="petLocationApp">
    <head>
        <link href="node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet" type="text/css">
        <link href="css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="MainController">
        <ng-map id="map" zoom="14" center="current-location" geo-fallback-center="-31.610648, -60.697293">
            <custom-marker ng-repeat="pet in pets" position="[{{ pet.marker.lat }}, {{ pet.marker.lng }}]">
                <div class="pet-icon" ng-click="showPetDetails(pet)"></div>
            </custom-marker>
        </ng-map>
        <a id="new-pet" class="waves-effect waves-light btn-large red" onclick="$('#new-pet-modal').modal('open')">Add New Pet</a>

        <div id="new-pet-modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="row">
                    <div class="col s4">
                        <input id="photo" type="file" ngf-select ng-model="photo" name="file" accept="image/*" class="hide">
                        <div id="no-thumbnail" ng-show="!photo"></div>
                        <img id="photo-thumbnail" ngf-thumbnail="photo" class="thumb">
                    </div>
                    <div class="col s8">
                        <div class="input-field">
                            <input id="name" type="text" placeholder="" ng-model="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field">
                            <select id="plight" ng-model="plight">
                                <option disabled selected>Choose your option</option>
                                <option value="lost">Lost</option>
                                <option value="found">Found</option>
                            </select>
                            <label>Plight</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="add-pet" href="#!" class="modal-action modal-close waves-effect waves-light btn red"
                   ng-click="addPet(name, plight, photo)" ng-disabled="!name || !plight">Add It!</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
            </div>
        </div>

        <div id="pet-details-modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="row center-align">
                    <img id="animal-prints-icon" src="img/animal-prints.svg"><br>
                    <h5>{{ petDetails.name }}</h5>
                    (plight: <strong>{{ petDetails.plight }}</strong>)
                    <br><br>
                    <img id="pet-photo" ngf-thumbnail="petDetails.photo ? petDetails.photo : 'img/no-image.svg'" class="thumb">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
            </div>
        </div>

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmmxrCuW_BAuRXLg9AptHJLJG0YAg4fzg&libraries=geometry"></script>
        <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
        <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
        <script src="js/controller/mainCtrl.js"></script>

        <script type="text/javascript">
            $('#no-thumbnail').click(function () {
                $('#photo').click();
            });

            $('#photo-thumbnail').click(function () {
                $('#photo').click();
            });

            $('#add-pet').click(function () {
                $('#name').val('');
            });

            $('#close').click(function () {
                $('#name').val('');
            });

            $('#new-pet-modal').modal({
                dismissible: true,
                opacity: .5,
                inDuration: 300,
                outDuration: 200,
                startingTop: '100%',
                endingTop: '30%'
            });

            $('#pet-details-modal').modal({
                dismissible: true,
                opacity: .5,
                inDuration: 300,
                outDuration: 200,
                startingTop: '100%',
                endingTop: '5%'
            });

            $(function () {
                $('select').material_select();
            });
        </script>
    </body>
</html>
